<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading3">Contact</h4>
    <hr>
    <div class="container-fluid text-center">
        <h3>Contact me</h3>
        <div class="row justify-content-center">
            <div class="input-group mb-3">
                <span class="input-group-text">First name</span>
                <input type="text" class="form-control" aria-label="First name">
                <span class="input-group-text">Last name</span>
                <input type="text" class="form-control" aria-label="Last name">
            </div>          
            <div class="input-group mb-3">
                <span class="input-group-text">Company name</span>
                <input type="text" class="form-control" aria-label="Company name">
                <span class="input-group-text">Contact email</span>
                <input type="text" class="form-control" aria-label="Contact email">
            </div> 
            <div class="input-group">
                <span class="input-group-text">How may I be of service?</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>   
            <button class="btn btn-primary m-3" type="button">Get in contact!</button>
        </div>
    </div>
</div>