<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading1">About me</h4>
    <hr>
    <p>
        - Informatics Engineer student, currently in 4th year.<br>
        - C1 English level in CAE exam form the Univeristy of Cambridge (and many other english certificates).<br>
        - IGCSE certificate from University of Cambridge (International General Certificate of Secondary Education).<br>
        - Some of the technologies I'm familiar with:
    </p>
    <div class="container-fluid text-center">
        <img src="https://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" alt="..." class="rounded-circle p-2 mx-2">
        <img src="https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" alt="..." class="rounded-circle p-2 mx-2">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="..." class="rounded-circle p-2 mx-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png" alt="..." class="rounded-circle p-2 mx-2">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png" alt="..." class="rounded-circle p-2 mx-2">
        <img src="https://assets.stickpng.com/images/5847f981cef1014c0b5e48be.png" alt="..." class="rounded-circle p-2 mx-2">
        <img src="https://static.vecteezy.com/system/resources/previews/019/899/953/non_2x/java-free-download-free-png.png" alt="..." class="rounded-circle p-2 mx-2">
    </div>
</div>