

<div class="container-fluid text-center p-3" >
    <div class="row">
        <hr>
        <div class="col">
        Santiago Coria
        </div>
        <div class="col">
        </div>
        <div class="col">
            <a class="icon-link mx-3" href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="icon-link mx-3" href="#">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon-link mx-3" href="#">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>