<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" href="#">Santiago Coria</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Work</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Contact</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="">Third</a></li>
          <li><a class="dropdown-item" href="">Fourth</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="">Fifth</a></li>
        </ul>
      </li>
    </ul>
  </nav>