<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading2">Work</h4>
    <hr>
    <div class="row">
        <div class="col">
          <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Programming_code.jpg/1200px-Programming_code.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Programa 1</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Programming_code.jpg/1200px-Programming_code.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Programa 2</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Programming_code.jpg/1200px-Programming_code.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Programa 3</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
</div>